<div class="forgot-pass-container">
  <div class="forgot-pass-sub-container">
    <div class="forgot-mat-card">
      <div class="forgot-pass-containt">
        <div class="forgot-pass-header">
          <p class="forgot-heding">Forgot Password? That’s OK! Let’s change it.</p>
        </div>

        <!-- Username Form -->
        <form [formGroup]="forgetpwdForm" (ngSubmit)="generateOTP()" *ngIf="isShowtxtUsername">
          <mat-form-field appearance="outline" class="form-field mb-2">
            <mat-label class="forgot-mat-label">Confirm Login Id</mat-label>
            <input matInput type="text" formControlName="Username" required />
          </mat-form-field>
          <div class="form-footer">
            <a href="/login" routerLinkActive="active" class="login-link">Back to Login</a>

          </div>
          <div class="otp-button">
            <button mat-flat-button color="primary" [disabled]="forgetpwdForm.get('Username')?.invalid || isSubmitting">
              Generate OTP
            </button>
          </div>
        </form>

        <!-- OTP Verification Form -->
        <form [formGroup]="forgetpwdForm" (ngSubmit)="verifyOTP()" *ngIf="isShowtxtOtp">
          <mat-form-field appearance="outline" class="form-field mb-2">
            <mat-label class="forgot-mat-label">Enter OTP</mat-label>
            <input matInput type="text" formControlName="Userotp" required />
          </mat-form-field>
          <div class="otp-button">
            <button mat-flat-button color="primary" [disabled]="forgetpwdForm.get('Userotp')?.invalid || isSubmitting">
              Verify OTP
            </button>
          </div>
        </form>

        <!-- Reset Password Form -->
        <form [formGroup]="forgetpwdForm" (ngSubmit)="setUserPassword()" *ngIf="isShowtxtNewPwd">
          <mat-form-field appearance="outline" class="form-field mb-2">
            <mat-label class="forgot-mat-label">New Password</mat-label>
            <input matInput type="password" formControlName="Newpassword" required />
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field mb-2">
            <mat-label class="forgot-mat-label">Re-enter Password</mat-label>
            <input matInput type="password" formControlName="Reenterpassword" required />
            <mat-error *ngIf="forgetpwdForm.get('Reenterpassword')?.invalid">
              <div *ngIf="forgetpwdForm.get('Reenterpassword')?.errors?.['confirmPasswordValidator']">
                Password and Confirm Password didn't match.
              </div>
            </mat-error>
          </mat-form-field>


          <div class="otp-button">
            <button mat-flat-button color="primary" [disabled]="forgetpwdForm.invalid || isSubmitting">
              Reset Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
