<div class="forgot-pass-container">
  <div class="forgot-pass-sub-container">
    <div class="forgot-mat-card">
      <div class="forgot-pass-containt">
        <div class="forgot-pass-header">
          <p class="forgot-heding">Forgot Password? That’s OK! Let’s change it.</p>
        </div>
        <form>

          <mat-form-field appearance="outline" class="form-field mb-2">
            <mat-label class="forgot-mat-label">Confirm Login Id</mat-label>
            <input matInput type="email" name="email" formControlName="username" required />
            <!-- <mat-error *ngIf="f['username']?.invalid && (f['username']?.dirty || f['username']?.touched)">
              <span *ngIf="f['username']?.errors?.['required']">Email is required.</span>
              <span *ngIf="f['username']?.errors?.['email']">Invalid email format.</span>

            </mat-error> -->
          </mat-form-field>
          <div class="form-footer">
            <a href="/login" class="login-link">Back to login</a>
          </div>
          <div class="otp-button">
            <button mat-flat-button>Login</button>
            <!-- <mat-spinner *ngIf="isSubmitting" diameter="24"></mat-spinner> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
