.forgot-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.forgot-pass-sub-container {
  height: 100vh;
  overflow: hidden;
  padding: 0 5% 0 0;
}
.forgot-mat-card {
  position: relative;
  bottom: 0;
  top: 20%;
}
.form-field {
  width: 100%;
  margin: 0% 0%;
}
.forgot-pass-containt {
  text-align: left;
  background-color: #ffff;
  border-radius: 12px 12px 0 0;
  padding: 9% 8%;
  height: 90vh;
}
.forgot-text {
  padding-bottom: 5%;
}
.forgot-heding {
  font-weight: 500;
}

.forgot-heding-span {
  color: #333333;
  font-size: 12px;
  margin: 0;
}
.email-text {
  padding-bottom: 2%;
}
.forgot-mat-label {
  font-size: 12px;
}
.form-footer {
  display: flex;
  justify-content: end;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-color: #2286d1;
}
a {
  color: #2286d1;
  cursor: pointer;
}
.otp-button {
  padding-top: 10%;
}
.otp-button button {
  width: 100%;
  /* border-radius: 12px; */

  align-items: center;
}
