<mat-drawer-container class="example-container">
  <!-- Sidebar -->
  <mat-drawer
    #sidenav
    mode="side"
    [opened]="true"
    class="side-nav"
    [class.collapsed]="isCollapsed"
  >
    <!-- Sidebar Header -->
    <div class="sidenav-header">
      <span class="logo" *ngIf="!isCollapsed">My App</span>
      <button mat-icon-button (click)="toggleSidenav()" class="toggle-btn">
        <mat-icon>{{ isCollapsed ? "menu_open" : "menu_open" }}</mat-icon>
      </button>
    </div>
    <div class="border-end"></div>

    <!-- Dynamic Menu Items -->
    <mat-nav-list>
      <ng-container *ngFor="let menu of MENU_ITEMS">
        <!-- Single Menu Item -->
        <ng-container *ngIf="menu.type === 'item'">
          <mat-list-item
            *ngIf="menu.route"
            [routerLink]="menu.route"
            (click)="setActive(menu.route)"
            [class.active]="activeItem === menu.route"
          >
            <mat-icon class="nav-icon material-symbols-outlined">{{
              menu.icon
            }}</mat-icon>
            <span *ngIf="!isCollapsed" class="mat-list-text">{{
              menu.title
            }}</span>
          </mat-list-item>
        </ng-container>

        <!-- Grouped Menu with Submenus -->
        <ng-container *ngIf="menu.type === 'group'">
          <mat-expansion-panel [expanded]="!isCollapsed" class="small-panel">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="nav-icon material-symbols-outlined">{{
                  menu.icon
                }}</mat-icon>
                <span *ngIf="!isCollapsed" class="mat-list-title-text">{{
                  menu.title
                }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list>
              <mat-list-item
                *ngFor="let subMenu of menu.children"
                routerLink="{{ subMenu.route }}"
                (click)="setActive(subMenu.route)"
                [class.active]="activeItem === subMenu.route"
              >
                <mat-icon class="nav-icon material-symbols-outlined">{{
                  subMenu.icon
                }}</mat-icon>
                <span *ngIf="!isCollapsed" class="mat-list-text">{{
                  subMenu.title
                }}</span>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </ng-container>
      </ng-container>
    </mat-nav-list>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content class="content-container" [class.shrink]="isCollapsed">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
