/* components/permission/permission.component.css */
.permission-container {
  display: flex;
  gap: 24px;
  padding: 10px 10px;
}

.permission-box {
  width: 25% !important;
  height: 478px;
  padding: 10px 10px;
  border-radius: 12px;
  background-color: #f9fcff;
  box-shadow: 0px 2px 4px 0px #2286d133;
  overflow-y: auto;
}
.permission-heding-title {
  padding: 10px;
  font-family: Mukta Vaani !important;
  font-weight: 600;
  font-size: 19px;
  line-height: 40px;
  text-align: left;
  color: #000000;
  text-underline-position: from-font;
}
mat-list-option {
  border: 1px solid #2286d199;
  margin-bottom: 16px;
  border-radius: 4px;
  border-radius: 6px;
}

.mat-mdc-checkbox-checked .mdc-checkbox__background {
  background-color: #2286d199 !important;
  border-color: #2286d199 !important;
}
.mat-mdc-checkbox-checked + .mat-mdc-checkbox-label {
  color: #ffffff !important;
}
