/* Spacer to push items to the right */
.spacer {
  flex-grow: 1;
}
.nav-container {
  display: flex;
  background-color: #2286d1 !important; /* Blue background */
  color: #ffffff;
}

.nav-right-side-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-button {
  color: #ffffff !important;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.mat-icon {
  color: #ffffff !important;
}

.nav-button mat-icon {
  margin-left: 5px;
}
.logout-button {
  background-color: #4b9dda;
}
