<!-- add-role-form.component.html -->
<div class="role-main-container">
  <div class="role-head-container">
    <h1 mat-dialog-title class="header">
      <span>Add Role</span>
    </h1>
    <button mat-icon-button (click)="closeDialog(false)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="role-form-container">
    <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
      <!-- Next Row: First Name, Last Name -->

      <div class="form-row">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Role Name</mat-label>
          <input matInput formControlName="roleName" />
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Reporting Role</mat-label>
          <input matInput formControlName="reportingRole" />
        </mat-form-field>
      </div>

      <div class="form-row-desc">
        <mat-form-field class="form-field" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description" rows="4"></textarea>
        </mat-form-field>
      </div>
      <!-- Last Row: Active / Inactive Radio Buttons -->
      <div class="form-row">
        <mat-radio-group formControlName="status">
          <mat-radio-button value="active">Active</mat-radio-button>
          <mat-radio-button value="inactive">Inactive</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Submit Button -->
      <div class="form-row-button">
        <button mat-raised-button color="primary" type="submit" [disabled]="roleForm.invalid">
          Cancel
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="roleForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
