/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Mukta Vaani";
}
.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

.info-snackbar {
  background-color: #2196f3;
  color: white;
}

.warn-snackbar {
  background-color: #ff9800;
  color: white;
}
.mat-drawer-inner-container {
  overflow-y: auto !important; /* Enables scrolling */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}
.mat-expansion-panel-body {
  padding: 1px !important;
  margin-left: 15px; /* Add slight spacing */
}
