<mat-card class="main-container">
  <!-- left side -->
  <div class="example-card">
    <div class="card-content">
      <div class="example-header-image-container">
        <img src="../../assets/img/logo_White 2.png" alt="" class="example-header-image" />
      </div>
      <h1 class="heading">Effortless Marketing Management System</h1>
      <span class="description">
        Manage your campaign and optimize your sales process with our cutting-edge Marketing 360.
        Designed for efficiency and ease of use, this platform enables your team to track, engage more effectively.
      </span>
    </div>
  </div>
  <div class="outlet-container">
    <router-outlet></router-outlet>
  </div>
  <!-- right side -->
  <!-- <mat-card class="outlet-container">
    <router-outlet></router-outlet>
  </mat-card> -->
</mat-card>
